<template>
  <q-page class="flex padding">
    <div class="row fixed-center" :style="{ width: '400px' }">
      <div class="q-pb-lg">
        <span class="text-h1">Shouts</span><br />By fruity rewards
      </div>
      <q-card :style="{ width: '400px', height: '400px' }">
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="login" label="Login" />
          <q-tab name="register" label="Register" />
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="login">
            <AuthComponent :tab="tab" />
          </q-tab-panel>

          <q-tab-panel name="register">
            <AuthComponent :tab="tab" />
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AuthComponent from '../components/AuthComponent.vue';

interface ITab {
  tab: string;
}

export default defineComponent({
  components: { AuthComponent },
  data(): ITab {
    return {
      tab: 'login',
    };
  },
});
</script>
