<template>
  <q-page class="row items-center justify-evenly">
    <div>
      <h1>My Groups</h1>
      <q-card
        flat
        bordered
        class="my-card q-mt-md q-mr-sm"
        v-for="group in profile.groups"
        v-bind:key="group.uid"
      >
        <q-item>
          <q-item-section avatar>
            <q-avatar>
              <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
            </q-avatar>
          </q-item-section>

          <q-item-section>
            <q-item-label v-text="group.name"></q-item-label>
            <q-item-label caption> Subhead </q-item-label>
          </q-item-section>
        </q-item>

        <q-separator />
      </q-card>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { mapGetters } from 'vuex';

export default defineComponent({
  name: 'Groups',
  components: {},
  computed: {
    ...mapGetters({
      profile: 'profile/myProfile',
    }),
  },
});
</script>
