<template>
  <q-page class="row items-center justify-evenly">
    <div>
      <h1>Shouts</h1>
      by Fruity Rewards
    </div>
    <img
      src="https://static.wixstatic.com/media/f098dde14549cc43db8f46a0942579a4.jpg/v1/fill/w_334,h_196,al_c,q_80,usm_0.66_1.00_0.01/f098dde14549cc43db8f46a0942579a4.webp"
    />
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageIndex',
  components: {},
});
</script>
