<template>
  <q-page class="row items-center justify-evenly">
    <div>
      <h1>Profile</h1>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Profile',
  components: {},
});
</script>
