<template>
  <div>
    <!--
    <template v-if="tab === 'register'">
      <div class="text-center q-mb-lg">Sign up with</div>
    </template>
    <template v-else>
      <div class="text-center q-mb-lg">Sign in with</div>
    </template>
    <div class="flex flex-center">
      <q-btn
        class="flex flex-center q-px-lg q-py-sm q-mb-md"
        color="primary"
        size="md"
        label="Google"
        @click="google"
      />
    </div>
    -->
    <template v-if="tab === 'register'">
      <p class="text-center">Sign up with credentials</p>
    </template>
    <template v-else>
      <p class="text-center">Sign in with credentials</p>
    </template>

    <q-form @submit="submitForm">
      <q-input
        outlined
        class="q-mb-md"
        type="email"
        label="Email"
        v-model="formData.email"
      />
      <q-input
        outlined
        class="q-mb-md"
        type="password"
        label="Password"
        v-model="formData.password"
      />
      <div class="row">
        <q-space />
        <q-btn type="submit" color="primary" :label="tab" />
      </div>
    </q-form>
    <div class="text-center q-my-md">
      <q-btn
        flat
        label="Forgot Password?"
        color="green"
        class="text-capitalize rounded-borders"
        v-if="tab !== 'register'"
        @click="forgotPassword"
      />
    </div>
    <q-dialog v-model="resetPwdDialog">
      <ForgotPassword />
    </q-dialog>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ForgotPassword from './ForgotPassword.vue';
import {
  createUserWithEmailAndPassword,
  signInWithPopup,
  GoogleAuthProvider,
  signInWithEmailAndPassword,
  setPersistence,
  browserLocalPersistence,
} from 'firebase/auth';
import { auth } from '../boot/firebase';

interface IEmailPassword {
  uid: string;
  email: string;
  password: string;
}

interface IAuthForm {
  formData: IEmailPassword;
  resetPwdDialog: boolean;
}

export default defineComponent({
  name: 'AuthComponent',
  props: ['tab'],
  components: { ForgotPassword },
  data(): IAuthForm {
    return {
      formData: {
        uid: '',
        email: '',
        password: '',
      },
      resetPwdDialog: false,
    };
  },

  methods: {
    submitForm() {
      if (this.tab === 'login') {
        this.signInExistingUser(this.formData.email, this.formData.password);
      } else {
        this.createUser(this.formData.email, this.formData.password);
      }
    },
    google() {
      const provider = new GoogleAuthProvider();
      signInWithPopup(auth, provider)
        .then()
        .catch((error) => {
          console.log(error);
        });
      /*
        .then((result) => {
          // This gives you a Google Access Token. You can use it to access the Google API.
          const credential = GoogleAuthProvider.credentialFromResult(result);
          const token = credential?.accessToken;
          // The signed-in user info.
          const user = result.user;
          // ...
        })
        .catch((error) => {
          /*
          // Handle Errors here.
          const errorCode = error.code;
          const errorMessage = error.message;
          // The email of the user's account used.
          const email = error.email;
          // The AuthCredential type that was used.
          const credential = GoogleAuthProvider.credentialFromError(error);
          console.log({ errorCode, errorMessage, email, credential });
          // ...
        });
      */
    },
    signInExistingUser(email: string, password: string) {
      setPersistence(auth, browserLocalPersistence)
        .then(() => {
          return signInWithEmailAndPassword(auth, email, password)
            .then(() => {
              this.$q.notify({ message: 'Sign In Success.' });
              return this.$router.push('/');
            })
            .catch((error) => {
              this.$q.notify({ message: 'Sign In Fail.' });
              console.log(error);
            });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    createUser(email: string, password: string) {
      createUserWithEmailAndPassword(auth, email, password)
        .then(() => {
          this.$q.notify({ message: 'Sign Up Success.' });
          return this.$router.push('/');
        })
        .catch((error) => {
          this.$q.notify({ message: 'Sign Up Fail.' });
          console.log(error);
        });
    },
    forgotPassword() {
      this.resetPwdDialog = true;
    },
  },
});
</script>
