<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar v-if="profile.name">
        <q-btn
          round
          class=""
          size="sm"
          :to="{ name: 'home' }"
          color="primary"
          icon="home"
        >
          <q-tooltip class="bg-accent">Home</q-tooltip>
        </q-btn>
        <span class="q-pl-md q-pr-md" v-text="profile.name"></span>
        <q-space />
        <span class="q-pr-md"
          >{{ $t('tokenBalance') }}: {{ profile.balance }}</span
        >
        <q-btn
          round
          class=""
          size="sm"
          @click="profileSignOut"
          color="primary"
          icon="logout"
        >
          <q-tooltip class="bg-accent">Logout</q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>
    <q-footer bordered class="bg-white text-primary" v-if="profile.name">
      <q-tabs
        no-caps
        v-model="tab"
        active-color="primary"
        indicator-color="transparent"
        class="text-grey"
      >
        <q-route-tab
          name="groups"
          label="Groups"
          icon="group"
          :to="{ name: 'groups' }"
        />
        <q-route-tab
          name="balance"
          label="Balance"
          icon="receipt_long"
          :to="{ name: 'balance' }"
        />
        <q-route-tab name="log" label="Log" icon="menu" :to="{ name: 'log' }" />
        <q-route-tab
          name="profile"
          label="Profile"
          icon="person"
          :to="{ name: 'profile' }"
        />
        <q-route-tab
          name="settings"
          label="Settings"
          icon="settings"
          :to="{ name: 'settings' }"
        />
      </q-tabs>
    </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { mapGetters } from 'vuex';

interface ITab {
  tab: string;
}

export default defineComponent({
  name: 'MainLayout',
  data(): ITab {
    return {
      tab: 'groups',
    };
  },
  computed: {
    ...mapGetters({
      profile: 'profile/myProfile',
    }),
  },
  mounted() {
    this.profileWatchDB();
  },
  methods: {
    profileWatchDB() {
      this.$store.dispatch('profile/watchDB').then(() => {
  //
      })
      .catch(() => {
  //
      })
    },
    
    async profileSignOut() {
      await this.$store.dispatch('profile/signOut');
      this.$router
        .push({ path: '/login' })
        .then(() => {
          this.$q.notify({ message: 'Sign Out Success.' });
        })
        .catch((error) => console.log('error', error));
    },
  },
});
</script>
